<ion-content>
  <div class="login-container">
    <img src="../../../../assets/LOGO_MPG_COMP.svg" alt="Modelo Para Ganar" class="logo">

    <h1 class="welcome-text">¡Bienvenido/a a Modelo Para Ganar!</h1>
    <p class="sub-text">Ingresa tus datos:</p>

    <form class="login-form">
      <div class="input-group">
        <label for="username">Número de usuario *</label>
        <input type="number" id="username" [(ngModel)]="username" name="username" placeholder="Número de usuario *">
      </div>

      <div class="input-group">
        <label for="password">Contraseña *</label>
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" placeholder="Contraseña *">
        <img [src]="isPasswordVisible ? '../../../../assets/eye.svg' : '../../../../assets/eye-off.svg'" alt="Mostrar contraseña" class="eye-icon" (click)="togglePasswordVisibility()">
        @if (!isPasswordValid && password.length > 0) {
          <div class="error-message">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        }
        
      </div>

      <div class="align-text-left">
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
      </div>

      <div class="checkbox-group">
        <div class="container-check">
          <ion-checkbox checked="true"></ion-checkbox>
          <div class="label-check">He leído y acepto <a href="#" class="innerText">Términos y Condiciones</a></div>
        </div>
        <div class="container-check">
          <ion-checkbox></ion-checkbox>
          <div class="label-check">He leído y acepto el <a href="#" class="innerText">Aviso de privacidad</a></div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!isFormValid" (click)="login()">Iniciar sesión</button>
      <button type="button" class="btn btn-secondary">Entrar como supervisor</button>
    </form>

    <div class="place-items">
      <div class="display-flex">
        <a href="#" class="help-link">¿Necesitas ayuda con tu registro?</a>
        <img src="../../../../assets/WA-logo.svg" alt="WhatsApp" class="ico-whatsapp">
      </div>
    </div>
  </div>
</ion-content>
