.progress-bar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    height: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 26px 15px -3px rgba(0,0,0,0.1);
  }
  
  .progress {
    background: rgb(101, 161, 51);
    background: #71ba1b;
    filter: drop-shadow(0px 3px 6px #0a2440);
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 26px 15px -3px rgba(0,0,0,0.1);
    width: 0%;
    transition: width 1.5s ease-out;
  }
  
  .progress-left,
  .progress-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
  
  .progress-left {
    left: 10px;
  }
  
  .progress-right {
    margin-top: 20px;
    right: 10px;
  }
  

  .progress-circle {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #71ba1b;
    filter: drop-shadow(0px 3px 6px #0a2440);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 26px 15px -3px rgba(0,0,0,0.1);
   
  }
  
  .progress-circle-current {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #71ba1b;
    filter: drop-shadow(0px 3px 6px #0a2440);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px; 
    box-shadow: 0px 26px 15px -3px rgba(0,0,0,0.1);
    z-index: 1;
    left: 0%; /* Inicializamos la posición en 0 para la animación */
    transition: left 1.5s ease-out;
  }