<div class="footer">
  <button class="footer-button" (click)="selectButtonFooter($event, 0)">
    <img src="../../../assets/icon-money.svg" class="image-footer-ico" style="width: 18px;">
    <div>
      Bonificación
    </div>
  </button>
  <button class="footer-button active" (click)="selectButtonFooter($event, 1)">
    <img src="../../../assets/icon-house.svg" class="image-footer-ico" >
    <div>
      Resumen
    </div>
  </button>
  <button class="footer-button" (click)="selectButtonFooter($event, 2)">
    <img src="../../../assets/icon-img.svg" class="image-footer-ico">
    <div>
      Autoejecución
    </div>
  </button>
</div>