.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-ring {
  transform: rotate(-90deg); /* Rotamos para que empiece desde arriba */
}

.progress-ring__circle {
  stroke: #00c8ff; /* Cambia este color según el estado del progreso */
  stroke-dasharray: 326; /* Circunferencia del círculo (2 * PI * radio) */
  stroke-dashoffset: calc(326 - (67 / 100) * 326); /* Ajusta el porcentaje */
  transition: stroke-dashoffset 0.5s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.percentage {
  font-size: 24px;
}

.progress-label {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100px; /* Ajusta el tamaño según sea necesario */
}

@media (max-width: 500px) {
  .progress-label {
    font-size: 14px;
  }
}
