.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-ring {
  transform: rotate(-90deg); 
}

.progress-ring__background {
  stroke: #132d56; 
}


.progress-ring__circle {
  stroke-dasharray: 326;
  transition: stroke-dashoffset 0.5s ease;
  stroke-linecap: round; 
  filter: drop-shadow(0px 2px 4px rgba(120, 148, 210, 0.6));
  animation: progressFill 2s ease forwards;
}
//color de cada uno de los chart
// [4:56 p. m., 13/10/2024] Camilo Redondo: background: linear-gradient(#385cad 0%, #7894d2 100%);
// filter: drop-shadow(0px 2px 4px rgba(120, 148, 210, 0.6));
// [4:57 p. m., 13/10/2024] Camilo Redondo: background: linear-gradient(#b1fdf3 0%, #65baaf 100%);
// filter: drop-shadow(0px 2px 4px rgba(116, 194, 184, 0.6));
// [4:57 p. m., 13/10/2024] Camilo Redondo: background: linear-gradient(#ff8485 0%, #ff595a 100%);
// filter: drop-shadow(0px 2px 4px rgba(255, 89, 90, 0.6));
// [4:58 p. m., 13/10/2024] Camilo Redondo: background: linear-gradient(#ff9015 0%, #ffc600 100%);
// filter: drop-shadow(0px 2px 4px rgba(255, 198, 0, 0.6));

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.progress-label {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100px;
}

@media (max-width: 500px) {
  .progress-label {
    font-size: 14px;
  }
}

@keyframes progressFill {
  from {
    stroke-dashoffset: 326; 
  }
  to {
    stroke-dashoffset: var(11);
  }
}
