<div class="circle-container">
  <div class="progress-circle">
    <svg class="progress-ring" width="120" height="120">
      <circle class="progress-ring__background" 
              stroke="#132d56" 
              stroke-width="4"
              fill="transparent" 
              r="52" 
              cx="60" 
              cy="60" />
      <circle class="progress-ring__circle"
              [style.stroke]="color"
              [style.stroke-dashoffset]="strokeDashoffset"
              stroke-width="8" 
              fill="transparent" 
              r="52" 
              cx="60" 
              cy="60" />
    </svg>
    <div class="progress-text">
      <span class="percentage">{{ percentage }}%</span>
    </div>
  </div>
  <div class="progress-label">{{ label }}</div>
</div>
