.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.progress-ring {
  transform: rotate(-90deg); 
}

.progress-ring__background {
  stroke: #132d56; 
}


.progress-ring__circle {
  stroke-dasharray: 326;
  transition: stroke-dashoffset 0.5s ease;
  stroke-linecap: round; 
  filter: drop-shadow(0 0 7px 4px var(--progress-shadow-color));
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.progress-label {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  text-align: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100px;
}

@media (max-width: 500px) {
  .progress-label {
    font-size: 14px;
  }
}
