<ion-content>
  <div class="profile-container">
    <app-header />

    <app-banner-content img="banner.svg" />

    <app-tabs-content />

    <div class="goals-section">
      <div class="align-left">
        <div>
          <h5>Metas por volumen</h5>
        </div>
        <div>
          <strong
            >Estas son las principales metas por volumen que debes cumplir al
            mes.</strong
          >
          <br />
          <div class="margin-top">
            <label
              >A medida que avanzas en cada una, vas sumando al porcentaje de
              cumplimiento total para obtener tu bonificación.</label
            >
          </div>
        </div>
      </div>

      <div class="progress-bar">
        <div class="progress" style="width: 40%"></div>
        <span class="progress-left">40%</span>
        <span class="progress-right">100%</span>
      </div>

      <div class="align-right">
        <div class="filter-section">
          <label for="filter">Filtrar por:</label>
          <select id="filter">
            <option value="cartones" class="option-label">Cartones</option>
          </select>
        </div>
      </div>

      <div class="progress-circles">
        <div class="flex-direction">
          <div class="circle">
            <span>67%</span>
          </div>
          <label>Volumen</label>
        </div>
        <div class="flex-direction">
          <div class="circle">
            <span>75%</span>
          </div> 
          <label>Volumen Retornable</label>
        </div>
        <div class="flex-direction">
          <div class="circle">
            <span>50%</span>
          </div>
          <label>Above Core + Beyond Beer</label>
        </div>
        <div class="flex-direction">
          <div class="circle">
            <span>37%</span>
          </div>
          <label>Marketplace</label>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-tab />
