<ion-content>
  <div class="profile-container">
    <app-header [name]="'Gerson Joel Camacho'" [code]="'102100101'" />

    <app-banner-content img="bannerNew.png" />

    <app-tabs-content />

    <div class="goals-section">
      <div class="align-left">
        <div>
          <h5>Metas por volumen</h5>
        </div>
        <div>
          <strong
            >Estas son las principales metas por volumen que debes cumplir al
            mes.</strong
          >
          <br />
          <div class="margin-top">
            <label
              >A medida que avanzas en cada una, vas sumando al porcentaje de
              cumplimiento total para obtener tu bonificación.</label
            >
          </div>
        </div>
      </div>

      @if (!showProgress) {
        <app-skeleton/>
        
      } @else {
        <app-progres-bar [max]="progressBarMax" [current]="progressBarCurrent" />
      }

      <div class="align-right">
        <app-select-list (selectionChange)="onSelectionChange($event)" />
      </div>
      <div class="content-graph">
        <div
          [class.show]="selectedValue === 'Cartones'"
          [class.hide]="selectedValue !== 'Cartones'"
        >
          <div class="display-flex">
            @for (entriesCarton of entriesCartones; track $index) {
            <div>
              <app-dooughnut-chart
                [label]="entriesCarton.name"
                [max]="entriesCarton.meta"
                [actual]="entriesCarton.avance"
                [index]="$index"
                [color]="getColor($index)"
              />
            </div>
            }
          </div>
        </div>
        <div
          [class.show]="selectedValue === 'Hectolitros'"
          [class.hide]="selectedValue !== 'Hectolitros'"
        >
          <div class="display-flex">
            @for (entriesHectolitro of entriesHectolitros; track $index) {
            <div>
              <app-dooughnut-chart
                [label]="entriesHectolitro.name"
                [max]="entriesHectolitro.meta"
                [actual]="entriesHectolitro.avance"
                [index]="$index"
                [color]="getColor($index)"
              />
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-tab />

<app-loader [isLoading]="isLoading" />
<app-alert-card-view [message]="errorMessage" [showCard]="showErroCard" (closeCard)="closeCard()"/>
