<ion-content>
  <div class="profile-container">
    <app-header [name]="'Gerson Joel Camacho'" [code]="'102100101'" />

    <app-banner-content img="banner.svg" />

    <app-tabs-content />

    <div class="goals-section">
      <div class="align-left">
        <div>
          <h5>Metas por volumen</h5>
        </div>
        <div>
          <strong
            >Estas son las principales metas por volumen que debes cumplir al
            mes.</strong
          >
          <br />
          <div class="margin-top">
            <label
              >A medida que avanzas en cada una, vas sumando al porcentaje de
              cumplimiento total para obtener tu bonificación.</label
            >
          </div>
        </div>
      </div>

      <app-progres-bar [max]="max" [current]="current"/>


        <div class="align-right" >
          <app-select-list (selectionChange)="onSelectionChange($event)"/>
        </div>
        <div class="content-graph">
          <app-dooughnut-chart [color]="'#6d8acf'" [label]="'Volumen'" [percentage]="percentaje1"/>
          <app-dooughnut-chart [color]="'#9eebe2'" [label]="'Volumen Retornable'" [percentage]="percentaje2"/>
          <app-dooughnut-chart [color]="'#ff716e'" [label]="'Above Core + Beyond Beer'" [percentage]="percentaje3"/>
          <app-dooughnut-chart [color]="'#fbb200'" [label]="'Marketplace'" [percentage]="percentaje4"/>
        </div>
    </div>
  </div>
</ion-content>

<app-footer-tab />

<app-loader [isLoading]="isLoading"/>
