* {
  font-family: "Exo", sans-serif;
}

ion-content {
  --background: linear-gradient(to bottom, #0e2a58, #122c65);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100vh;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.profile-container {
  width: 100%;
  color: white;
  padding-bottom: 80px !important;
}

.display-flex {
  display: flex;
}

.goals-section {
  background-color: #23427f;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  margin: 10px;
  border: 1px solid #395caa;
}

.goals-section h5 {
  color: #ffc300;
  font-weight: bold;
}

.goals-section label {
  font-weight: 200;
}

.option-label {
  color: #5572af;
}

.margin-top {
  margin-top: 10px;
}


.align-left {
  text-align: left;
}

.align-right {
  margin-top: 20px;
  text-align: right;
}

.content-graph{
  display: flex;
  background-color: #0a253f;
  border-radius: 20px;
}

.filter-section {
  margin: 10px 0;
  display: flex;
}

.filter-section label {
  font-size: 0.9rem;
  color: #495eaf;
}

.filter-section select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.progress-circles {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle span {
  font-size: 1.2rem;
  color: #00ff00;
}

.circle p {
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .profile-container {
    padding: 0px;
  }

  .user-info h3 {
    font-size: 1rem;
  }

  .user-info p {
    font-size: 0.8rem;
  }

  .flex-direction {
    flex-direction: column;
    display: grid;
    place-items: center;
    width: 68px;
  }

  .progress-circles {
    flex-direction: row;
    align-items: center;
    background-color: #0a253f;
    padding-inline: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
  }

  .circle {
    margin-bottom: 10px;
  }
}
