.banner {
    margin: 10px;
    border: 1px solid #3557a3;
    background-color: #000;
    border-radius: 20px;
    padding-top: 7px;
    padding-inline: 6px;
    padding-bottom: 2px;
  }
  
  .banner-img {
    width: 100%;
    border-radius: 10px;
  }